<!DOCTYPE html>
<html>
    <head>
        <!--Title of the Second Page-->
        <title> Top Reccomendations</title>
        <!--Debating if we need to mirror the same style as the first page-->
        <style>
        
        </style>
        </head>
    </head>
    <!-- Adding stylistic changes to the page design-->
    <style>
    h1 {text-align: Center;}
    </style>

<h1>Top Recommendations</h1>
<head>
    <div class="search-bar">
        <center> <input type="text" placeholder =" Chinese Food"> </center>
        </div>
        
</head>




</html>